ADFv2/PauseAzureSQLDWIfNoQueriesRunning.json
{
    "name": "PauseAzureSQLDWIfNoQueriesRunning",
    "properties": {
        "activities": [
            {
                "name": "IfSqlDwNotPaused",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "CheckIfSqlDwPaused",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals('Online',string(activity('CheckIfSqlDwPaused').output.properties.status))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "CheckRunningQueriesCount",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlDWSource",
                                    "sqlReaderQuery": "select count(*) as RunningQueryCount\nFROM sys.dm_pdw_exec_requests r \nwhere r.[status] = 'Running' \nand session_id<>SESSION_ID()",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "ds_sqldw_generic",
                                    "type": "DatasetReference",
                                    "parameters": {
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "CheckIfSqlDwPaused",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2014-04-01')",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.core.windows.net/"
                    }
                }
            },
            {
                "name": "IfQueriesNotRunning",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "IfSqlDwNotPaused",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('CheckRunningQueriesCount').output.firstRow.RunningQueryCount,0)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "PauseSqlDw",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/pause?api-version=2014-04-01-preview')",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "POST",
                                "body": {
                                    "value": "@string('')",
                                    "type": "Expression"
                                },
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.core.windows.net/"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "UntilSqlDwPaused",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "IfQueriesNotRunning",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(equals('Paused',string(activity('CheckSqlDwStatus').output.properties.status)),greater(activity('CheckRunningQueriesCount').output.firstRow.RunningQueryCount,0))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "CheckSqlDwStatus",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2014-04-01')",
                                    "type": "Expression"
                                },
                                "method": "GET",
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.core.windows.net/"
                                }
                            }
                        }
                    ],
                    "timeout": "7.00:00:00"
                }
            }
        ],
        "parameters": {
            "SubscriptionID": {
                "type": "String",
                "defaultValue": ""
            },
            "ResourceGroup": {
                "type": "String",
                "defaultValue": ""
            },
            "Server": {
                "type": "String",
                "defaultValue": ""
            },
            "DW": {
                "type": "String",
                "defaultValue": ""
            }
        },
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}